<% if !@user %>
  <h3>Short Url</h3>
  <p><%= User.count %> registered <%= 'user'.pluralize(User.count) %> and counting.</p>
<% else %>
  <%= render 'shared/short_url_form' %>
  <%= render 'shared/short_urls' %>
<% end %>
