<% if @short_urls %>
  <%= will_paginate @short_urls %>
  <% @short_urls.each do |short_url| %>
  <div class="row">
    <%= render partial: 'shared/short_url', locals: { short_url: short_url } %>
  </div>
  <% end %>
  <%= will_paginate @short_urls %>
<% else %>
  <p><strong>No URLs :-(<strong></p>
<% end %>
