<% content_for :title do %>About<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>About Short Url</h3>
    <p>
    This web application was created by <%= link_to('Nick Lalic', 'http://nicklalic.com') %>
    with <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
    </p>
  </div>
</div>
